@charset 'utf-8';
@media screen and (max-width: 1280px) {
    .inner {
        width: 90%;
        margin: 0 auto;
    }
    #header .gnb {
        display: none;
    }
    #header .util-menu .menu {
        display: block;
        position: relative;
    }
    #header .logo a:nth-child(1) {
        width: 4rem;
        height: 4rem;
    }
    #header .logo a {
        width: 16rem;
        height: 4rem;
    }
}
