.inner {
    width: 73.95833333333333%;
    margin: 0 auto;
    /* background: #f55; */
}
#hero {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
}
.hero-visual {
    width: 100%;
    height: 100%;
    background: url(../img/big-background.jpg) no-repeat 50% / cover;
}
/* 히어로 동작 제어 */
#hero .background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/tree-background.png) no-repeat 50% / cover;
}
#hero .wilson {
    position: absolute;
    left: 1rem;
    top: 38rem;
    width: 70rem;
    aspect-ratio: 753/700;
    background: url(../img/wilson.png) no-repeat 50% 50% / cover;
}
#hero .willow {
    position: absolute;
    right: 1rem;
    top: 38rem;
    width: 70rem;
    aspect-ratio: 753/700;
    background: url(../img/Willow.png) no-repeat 50% 50% / cover;
}
#hero .Gomsol {
    position: absolute;
    top: 55rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100rem;
    aspect-ratio: 1/1;
    background: url(../img/season1-boss.webp) no-repeat 50% 50% / cover;
}
.hero-logo {
    position: absolute;
    top: 30rem;
    left: 50%;
    transform: translateX(-50%);
}

.sec-title {
    font: 9.6rem "Belisa plumilla manual", sans-serif;
    width: 100%;
    text-align: center;
    position: relative;
}
#intro {
    width: 100%;
    text-align: center;
    height: 90rem;
}
.intro-dim {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 99;
    backdrop-filter: blur(7px);
}
.intro-video-wrap {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 10px solid #000;
    opacity: 0;
    transition: 0.4s;
    pointer-events: none;
    user-select: none;
    z-index: 100;
}
.intro-video-wrap.active {
    opacity: 1;
    pointer-events: initial;
    user-select: initial;
}
.intro-video-wrap .video {
    width: 128rem;
    aspect-ratio: 16/9;
}
.intro-video-wrap .video iframe {
    width: 100%;
    height: 100%;
    border: none;
}
.intro-video-wrap .btn-close {
    position: absolute;
    top: 0;
    right: -70px;
    width: 70px;
    height: 70px;
    background: #000 url(../img/close-btn-ico.png) no-repeat 0 0 / cover;
    border: none;
    cursor: pointer;
    color: #fff;
}
#intro .sec-title {
    margin: 12rem auto 2rem;
}
#intro p {
    font: 2rem/1.8 sans-serif;
}
#intro figure {
    width: 69rem;
    height: 40rem;
    margin: 6rem auto;
    background: #000;
    position: relative;
    cursor: pointer;
    z-index: 1;
}
#intro figure::after {
    content: "";
    position: absolute;
    background: url(../img/ico-start.png) no-repeat 0 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8rem;
    height: 8rem;
}
#intro figure::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
}

#intro figure .hover-video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    cursor: pointer;
    pointer-events: none;
    user-select: none;
}
#intro figure:hover .hover-video {
    display: block;
}
.brush-line {
    /* transform: rotate(180deg); */
}
#feature {
    width: 100%;
    aspect-ratio: 16/9;
    position: relative;
    padding: 16.8rem 0 0;
}
#feature .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s ease-in-out;
    opacity: 0.3; /* 배경 이미지의 투명도 조절 */
    filter: blur(3px);
}

#feature::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
}

#feature .sec-title {
    margin: 0 auto 9rem;
    z-index: 1;
}
/* slide style */
.feature-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 44.6rem;
    height: 42rem;
}
.feature-list figure {
    width: 100%;
    height: 28rem;
}
.feature-list h4 {
    font-size: 3.2rem;
    color: var(--main-color);
    font-family: "MapoBackpacking";
}
.feature-list p {
    font: 2rem/1.8 sans-serif;
}
/* swiper code */

#feature .pagination {
    position: absolute;
    bottom: 22rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 11;
    display: flex;
    justify-content: center;
    border-radius: 0;
    gap: 1rem;
}
#feature .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #999;
}
#feature .swiper-pagination-bullet-active {
    background: var(--main-color);
}

#feature .btn-prev {
    position: absolute;
    left: 10rem;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    width: 10rem;
    height: 10rem;
    z-index: 10;
    background: url(../img/arrow.png) no-repeat 0 0 / cover;
}
#feature .btn-prev {
    position: absolute;
    left: 10rem;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    width: 8rem;
    height: 8rem;
    z-index: 10;
    background: url(../img/arrow.png) no-repeat 0 0 / cover;
}
#feature .btn-next {
    position: absolute;
    right: 10rem;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    width: 8rem;
    height: 8rem;
    z-index: 10;
    background: url(../img/arrow.png) no-repeat 0 0 / cover;
}
#character {
    width: 100%;
    aspect-ratio: 16/9;
    background: url(../img/character-bg.png) no-repeat 0 40% / cover;
    padding: 24rem 0 0;
    position: relative;
}
#character .sec-title {
}
/* slider style */
.character-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 69rem;
    height: 46.4rem;
    margin: 2rem auto 0;
}
.character-img {
    width: 32.5rem;
    height: 46.4rem;
}
.character-info-wrap {
    width: 32.5rem;
    height: 46.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.character-name h4 {
    font-size: 2.8rem;
    font-family: "MapoBackpacking", serif;
    color: var(--main-color);
}
.character-name p {
    font-size: 2.4rem;
    font-family: "MapoBackpacking", serif;
}
.character-info-wrap > .character-comment {
    font-size: 2rem;
    margin-top: 1rem;
    font-family: "MapoBackpacking", serif;
}
.character-info-wrap .character-feature {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: "MapoBackpacking", serif;
    font-size: 2rem;
}
.character-info-wrap .ico-img {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
.character-info-wrap .ico-img img {
    width: 7rem;
    height: 7rem;
}
.character-info-wrap .wrap {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 2rem;
}
/* character-select-background */
.character-select-background {
    position: relative;
    width: 14rem;
    aspect-ratio: 1/1.25;
    margin: 0 auto;
    background: url(../img/character-select-background.png) no-repeat 50% / cover;
}
/* active 효과 */
.character-select .swiper-slide-thumb-active .character-select-background {
    background-image: url(../img/character-select-background-active.png);
    width: 16rem;
}
/* 버튼 디자인  */
#character .btn-prev {
    position: absolute;
    top: 50%;
    left: 45rem;
    transform: rotate(180deg);
    width: 8rem;
    height: 8rem;
    background: url(../img/arrow.png) no-repeat 0 0 / cover;
    z-index: 10;
    cursor: pointer;
}
#character .btn-next {
    position: absolute;
    top: 50%;
    right: 45rem;
    transform: rotate(0deg);
    width: 8rem;
    height: 8rem;
    background: url(../img/arrow.png) no-repeat 0 0 / cover;
    z-index: 10;
    cursor: pointer;
}
.character-select-background .ico-character {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -36%);
    width: 8rem;
    aspect-ratio: 1/1;
    background: no-repeat 50% / cover;
}

/* character-img */
.character-select-background .wilson {
    background-image: url(../img/character/char1.webp);
}
.character-select-background .willow {
    background-image: url(../img/character/char2.webp);
}
.character-select-background .wolfgang {
    background-image: url(../img/character/char3.webp);
}
.character-select-background .wendy {
    background-image: url(../img/character/char4.webp);
}
.character-select-background .wx-78 {
    background-image: url(../img/character/char5.webp);
}
.character-select-background .wickerbottom {
    background-image: url(../img/character/char6.webp);
}
.character-select-background .woodie {
    background-image: url(../img/character/char7.webp);
}
.character-select-background .wes {
    background-image: url(../img/character/char8.webp);
}
.character-select-background .maxwell {
    background-image: url(../img/character/char9.webp);
}
.character-select-background .wigfrid {
    background-image: url(../img/character/char10.webp);
}
.character-select-background .webber {
    background-image: url(../img/character/char11.webp);
}
.character-select-background .warly {
    background-image: url(../img/character/char12.webp);
}
.character-select-background .wormwood {
    background-image: url(../img/character/char13.webp);
}
.character-select-background .winona {
    background-image: url(../img/character/char14.webp);
}
.character-select-background .walter {
    background-image: url(../img/character/char15.webp);
}
.character-select-background .wortox {
    background-image: url(../img/character/char17.webp);
}
.character-select-background .wurt {
    background-image: url(../img/character/char18.webp);
}
.character-select-background .wanda {
    background-image: url(../img/character/char19.webp);
}
/* trailer  */
#trailer {
    width: 100%;
    aspect-ratio: 16/9;
}
#trailer .sec-title {
    margin: 15.4rem 0 10rem;
}
.trailer-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
}
.trailer-wrap li .hover-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: none;
    pointer-events: none;
    user-select: none;
}
.trailer-wrap li:hover .hover-video {
    display: block;
}
.trailer-wrap li {
    width: 22.8%;
    aspect-ratio: 1.3/1;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
.trailer-wrap li::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../img/ico-start.png) no-repeat 0 0 / cover;
    width: 6rem;
    height: 6rem;
}
.trailer-wrap li::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
}
#trailer .dim {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: none;
}
#trailer .video-wrap {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 10px solid #000;
    opacity: 0;
    transition: 0.4s;
    pointer-events: none;
    user-select: none;
    z-index: 100;
}
#trailer .video-wrap.active {
    opacity: 1;
    pointer-events: initial;
    user-select: initial;
}
#trailer .video {
    width: 128rem;
    aspect-ratio: 16/9;
}
.video iframe {
    width: 100%;
    height: 100%;
    border: none;
}
.caption {
    background: #000;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-weight: 700;
}
#trailer .btn-close {
    position: absolute;
    top: 0;
    right: -70px;
    width: 70px;
    height: 70px;
    background: #000 url(../img/close-btn-ico.png) no-repeat 0 0 / cover;
    border: none;
    cursor: pointer;
    color: #fff;
}
#reviews {
    width: 100%;
    aspect-ratio: 16/9;
    background: url(../img/moon-back.jpg) no-repeat 0 0 / cover;
    position: relative;
}
#reviews .btn-next {
    position: absolute;
    right: 10rem;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    width: 8rem;
    height: 8rem;
    z-index: 10;
    background: url(../img/arrow.png) no-repeat 0 0 / cover;
}
#reviews .btn-prev {
    position: absolute;
    left: 10rem;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    width: 8rem;
    height: 8rem;
    z-index: 10;
    background: url(../img/arrow.png) no-repeat 0 0 / cover;
}
#reviews .pagination {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    gap: 1rem;
}
#reviews .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #999;
}
#reviews .swiper-pagination-bullet-active {
    background: var(--main-color);
}
#reviews .dim {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
#reviews .sec-title {
    padding-top: 18rem;
}
#reviews .reviews-wrap {
    margin-top: 14.6rem;
}
#reviews .reviews-card {
    width: 100%;
    aspect-ratio: 1/0.515695067264574;
    padding: 5rem 4rem;
    background: rgba(69, 54, 39, 0.2);
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#reviews .reviews-card .star-wrap {
    display: flex;
    justify-content: center;
}
#reviews .btn-review-write {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 20rem;
    height: 6rem;
    background: #000;
    color: #fff;
    z-index: 1;
    margin: 12.2rem auto;
    gap: 1rem;
    font-weight: 700;
    font-size: 2.4rem;
    transition: 0.4s;
    border-radius: 4px;
}
#reviews .btn-review-write .img-size {
    background: url(../img/review-write.png) no-repeat 0 0 / cover;
}
#reviews .btn-review-write:hover .img-size {
    background-image: url(../img/review-write-hover.png);
}
#reviews .btn-review-write:hover {
    background: #fff;
    color: #000;
}
#reviews .nickname {
    font-weight: 700;
    font-size: 2rem;
    padding-top: 1rem;
    color: var(--main-color);
}
#reviews .img-size {
    width: 2.4rem;
    height: 2.4rem;
}
#reviews .reviews-card p {
    padding-top: 1.5rem;
    line-height: 1.8;
}
